body {
  background: url('../images/backgroundimage.jpg') rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
  .footerNav ul{
    flex-direction: column;
}

    .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
    }
}

.ButtonSignUp {
  background-color: #52bfe1;
}
/* Footer */
footer{
    background-color: black;
    position:static; bottom: 0;
    width: 100%;
    height:300px;
}
.footerContainer{
    width: 100%;
    padding:30px;
}
.socialIcons{
    display: flex;
    justify-content: center;

}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0,9;
}
/* Hover Effet Icon  */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
} 


/* CAROUSEL STYLE */

.carousel {
  position: relative;
  height: 400px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20rem;
}
.carousel__images {
  max-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__track-container {
  background: pink;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.carousel__track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  position: absolute;
  top: 65%;
  border-radius: 30%;
  transform: translateY(-50%);
  border: 0;
  background-color: #52bfe1;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.carousel__button:hover {
  background-color: rgb(254, 215, 222);
  border-radius: 20px;
}

.carousel__button--left {
  left: -40px;
}
.carousel__button--right {
  right: -40px;
   transform: translateY(-50%) rotate(180deg)
}
.carousel__button img {
  width: 25px;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 1rem;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  cursor: pointer;
}
.carousel__indicator.current-slide {
  background: #52bfe1;
}
.is-hidden {
  display: none;
}

.formadmin{
  width: 30%;
}


/* review */

:root {
  --primary-color: #52bfe1;
  --hover-color: #1a436e;
  --shadow-color: #0002;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-box {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px var(--shadow-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #777;
  gap: 5px;
  padding-right: 15%;
}

.icon:hover {
  cursor: pointer;
}

.comment {
  padding: 0 0 15px 58px;
}

.comment-box {
  padding: 10px;
  overflow: hidden;
}

.comment-box .user {
  display: flex;
  width: min-content;
}

.comment-box .image img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-box textarea {
  background: #eee;
  width: -webkit-fill-available;
  height: 152px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 0.5px var(--shadow-color);
}

.comment-box .submit {
  float: right;
  padding: 6px 14px;
  border: none;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.comment-box .submit:hover {
  background: var(--hover-color);
}